<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My first VueJS application</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>

  <body>
    <div class="navbar"></div>
    <div id="app">
      <div class="product">
        <div class="product-image">
          <img
            :src="image"
            :alt="alttext"
            :title="title"
            width="200"
            height="300"
          />
        </div>
        <div class="product-info">
          <h1>{{ product }}</h1>

          <P v-if="inventory > 10">In stock</P>
          <p v-else-if="inventory <= 10 && inventory > 0">
            Почти распродано, осталось {{ inventory }}
          </p>
          <p v-else>Out stock</p>

          <ul>
            <li v-for="detail in details">{{ detail }}</li>
          </ul>

          <div v-for="variant in variants" :key="variant.variantId">
            <p @mouseover="updateProduct(variant.variantImage)">
              {{ variant.variantColor }}
            </p>
          </div>
          <ol start="0">
            <li v-for="iterator in sizesArr">{{ iterator }}</li>
          </ol>

          <ul>
            <li v-for="(zafar, key) in person">
              <b>{{ key }}:</b> {{ zafar }}
            </li>
          </ul>
          <button v-on:click="addtocart">Add to card</button>
          <div class="cart">
            <p>Cart({{ cart }})</p>
          </div>

          <button v-on:click="minus">Minus from the cart</button>
          <div class="cart">Card {{ minus1 }}</div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js"></script>
  </body>
</html>
